<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>

<body>
<form th:method="POST" th:action="@{/update}" th:object="${user}">
    <input type="hidden" th:field="*{id}" id="id"/>
    <label for="name">First name: </label>
    <input type="text" th:field="*{firstName}" id="name"/>

    <label for="surname">Last name: </label>
    <input type="text" th:field="*{lastName}" id="surname"/>

    <label for="age">Age: </label>
    <input type="text" th:field="*{age}" id="age"/>

    <label for="age">Email: </label>
    <input type="text" th:field="*{email}" id="email"/>

    <br>
    <hr>
    <input type="submit" value="ОК"/>
</form>
</body>
</html>